.about {
    // position: relative;
    .content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        box-sizing: border-box;
        padding: 35px 25px;
        .line {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            transition: 0.25s;
            * {
                transition: 0.25s;
            }
            svg {
                path {
                    stroke-dasharray: 1600;
                    stroke-dashoffset: 1600;
                    stroke: $mc;
                    transition-delay: 0.2s;
                    transition-duration: 3s;
                    // transition: 3s;
                    // transition: stroke 6s;
                }
            }
            &.drawLine {
                path {
                    stroke-dasharray: 1600;
                    stroke-dashoffset: 0;

                    stroke: $tc;
                }
            }
        }
        .left {
            position: relative;
            z-index: 1;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            align-self: center;
            transition: 0.25s;

            h1 {
                margin: 0;
            }
            p {
                max-width: 75%;
                margin: 35px 0;
                transition: 0.25s;
            }

            .text {
                max-height: 315px;
                overflow: hidden;
                transition: 0.25s;
                p:first-child {
                    margin-bottom: 100px;
                }
            }
            .open-text {
                transition: 0.25s;
                max-height: 5000px;
                overflow: visible;
                p:first-child {
                    margin-bottom: 35px;
                }
            }
        }

        .right {
            position: sticky;
            top: 35px;
            z-index: 1;
            box-sizing: border-box;
            padding: 25px;
            width: 40%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.about-plus {
    background: $tc;
    box-sizing: border-box;
    padding: 70px 0;
    .content {
        color: #fff;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        box-sizing: border-box;
        .block {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            position: relative;
            width: 150px;
            height: 150px;
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background: $mc;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
            .head {
                font-size: 32px;
                line-height: 39px;
                box-sizing: border-box;
                // padding-bottom: 15px;
                // margin-bottom: 30px;
            }
            .text {
                text-align: center;
            }
        }
    }
}
