.deals {
    .content {
        h1 {
            margin-bottom: 50px;
        }
        .blocks {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            .block {
                min-width: 45%;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: flex-start;
                max-width: 565px;
                margin-right: 20px;
                margin-bottom: 50px;
                box-sizing: border-box;
                border: 2px solid $tc;
                padding: 20px 25px;
                position: relative;
                transition: 0.25s;
                background: #fff;
                // box-shadow: 5px 5px 14px 1px transparent;

                &:after {
                    content: "";
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    width: 100%;
                    height: 100%;
                    border: 2px solid $mc;
                    z-index: -1;
                    // opacity: 0;
                    // transform: rotate(3deg);
                    transform: matrix(1, 0.07, -0.07, 1, 0, 0);
                    transition: 0.25s;
                    background: $mc;
                }
                &:hover {
                    // box-shadow: 5px 5px 14px 1px rgba($color: $mc, $alpha: 0.2);
                    &:after {
                        // opacity: 1;
                        transform: rotate(0deg);
                        // opacity: 0.2;
                    }
                }
                .top,
                .bottom {
                    width: 100%;
                    margin-bottom: 30px;
                }
                .bottom {
                    margin-top: auto;
                    margin-bottom: 0;
                }
                .head {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 30px;
                    margin-bottom: 15px;
                }
                .text {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                    // max-width: 250px;
                }
            }
        }
    }
}
